body {
    color:#777777;
    background-color:#ffffff;
    border-color: #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    height:100%;
    margin: 0 auto 0 auto;
    background-image: url(../images/white-waves/white-waves.png);
}



header {
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
  background-color: #4aaaa5;
  width: 25%;
  height: 75px;
  text-align:center;
  color: #ffffff;
  
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  float:right;
  
}

li {
  float: left;
  margin:10px;
}

footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    border-bottom: 20px solid darkslategrey;

}

